Detailing Colors - WhatsApp Booking Workflow.json
{
  "name": "Detailing Colors - WhatsApp Booking Automation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "detailing-colors-whatsapp",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "1a2b3c4d-0001-0000-0000-000000000001",
      "name": "WhatsApp In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "webhookId": "detailing-colors-whatsapp"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-haiku-4-5",
          "mode": "list",
          "cachedResultName": "Claude Haiku 4.5"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a booking assistant for \"Detailing Colors\", a car detailing shop in Ludhiana, India. A customer has sent a WhatsApp message. Extract the following fields from their message:\n\n- name (customer name)\n- car_brand (e.g. Maruti, Hyundai, Honda, Toyota, etc.)\n- car_model (e.g. Swift, Creta, City)\n- service (e.g. full detailing, ceramic coating, interior cleaning, polish, wash)\n- preferred_time (their preferred day and/or time for the appointment)\n\nRULES:\n1. If ANY field is missing or unclear, set \"complete\" to false, set the missing fields to null, and write a SHORT, friendly follow-up question in \"reply_message\" asking ONLY for the missing details. Do not re-ask for fields you already have.\n2. If ALL fields are present, set \"complete\" to true, fill all fields, and write a warm booking confirmation in \"reply_message\" thanking them and confirming the slot. Mention the shop name \"Detailing Colors\".\n3. Match the customer's language style: if they wrote in English, reply in English. If they wrote in Hinglish (Hindi in Roman script), reply in Hinglish. Keep it casual and friendly.\n4. Return STRICT JSON ONLY — no markdown, no code fences, no commentary. Just the raw JSON object.\n\nReturn exactly this shape:\n{\n  \"complete\": true or false,\n  \"name\": string or null,\n  \"car_brand\": string or null,\n  \"car_model\": string or null,\n  \"service\": string or null,\n  \"preferred_time\": string or null,\n  \"reply_message\": string\n}\n\nCustomer's WhatsApp message:\n\"\"\"\n{{ $json.body.payload.body || $json.body.message || $json.body.text || $json.body.payload?.text || '' }}\n\"\"\"",
              "role": "user"
            }
          ]
        },
        "options": {
          "maxTokensToSample": 600,
          "temperature": 0.2
        }
      },
      "id": "1a2b3c4d-0002-0000-0000-000000000002",
      "name": "Extract Booking (Claude)",
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1.3,
      "position": [
        480,
        300
      ],
      "credentials": {
        "anthropicApi": {
          "id": "REPLACE_WITH_ANTHROPIC_CREDENTIAL_ID",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's strict JSON output and carry forward the sender's phone number\nconst raw = $input.first().json;\n\n// Anthropic node typically returns the text in `content` or `message.content`\nlet text = raw.content || raw.text || raw.message?.content || raw.completion || '';\nif (Array.isArray(text)) {\n  text = text.map(t => t.text || t).join('');\n}\n\n// Strip any accidental code fences just in case\ntext = String(text).trim().replace(/^```json\\s*/i, '').replace(/^```\\s*/i, '').replace(/```$/i, '').trim();\n\nlet parsed;\ntry {\n  parsed = JSON.parse(text);\n} catch (e) {\n  // Fallback: try to extract the first {...} block\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  parsed = match ? JSON.parse(match[0]) : {\n    complete: false,\n    name: null,\n    car_brand: null,\n    car_model: null,\n    service: null,\n    preferred_time: null,\n    reply_message: \"Sorry, could you please share your name, car brand & model, service needed, and preferred time?\"\n  };\n}\n\n// Pull sender's phone from the original webhook payload (Waha format)\nconst webhook = $('WhatsApp In').first().json.body || {};\nconst from = webhook.payload?.from || webhook.from || webhook.payload?.chatId || webhook.chatId || '';\n// Waha format is usually \"<digits>@c.us\" — strip suffix for clean number\nconst phone = String(from).replace(/@c\\.us$/, '').replace(/@s\\.whatsapp\\.net$/, '');\n\nreturn [{\n  json: {\n    ...parsed,\n    phone,\n    chatId: from\n  }\n}];"
      },
      "id": "1a2b3c4d-0003-0000-0000-000000000003",
      "name": "Parse Claude JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-complete",
              "leftValue": "={{ $json.complete }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1a2b3c4d-0004-0000-0000-000000000004",
      "name": "Booking Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_WAHA_HOST/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Api-Key",
              "value": "REPLACE_WITH_WAHA_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": \"default\",\n  \"chatId\": \"{{ $json.chatId }}\",\n  \"text\": {{ JSON.stringify($json.reply_message) }}\n}",
        "options": {}
      },
      "id": "1a2b3c4d-0005-0000-0000-000000000005",
      "name": "Reply to Customer (Follow-up)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1200,
        460
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "REPLACE_WITH_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Bookings",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Timestamp": "={{ $now.toISO() }}",
            "Name": "={{ $json.name }}",
            "Phone": "={{ $json.phone }}",
            "Car Brand": "={{ $json.car_brand }}",
            "Car Model": "={{ $json.car_model }}",
            "Service": "={{ $json.service }}",
            "Preferred Time": "={{ $json.preferred_time }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Timestamp",
              "displayName": "Timestamp",
              "required": false,
              "defaultMatch": false,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Car Brand",
              "displayName": "Car Brand",
              "required": false,
              "defaultMatch": false,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Car Model",
              "displayName": "Car Model",
              "required": false,
              "defaultMatch": false,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Service",
              "displayName": "Service",
              "required": false,
              "defaultMatch": false,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Preferred Time",
              "displayName": "Preferred Time",
              "required": false,
              "defaultMatch": false,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "1a2b3c4d-0006-0000-0000-000000000006",
      "name": "Save to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1200,
        140
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_WAHA_HOST/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Api-Key",
              "value": "REPLACE_WITH_WAHA_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": \"default\",\n  \"chatId\": \"{{ $json.chatId }}\",\n  \"text\": {{ JSON.stringify($json.reply_message) }}\n}",
        "options": {}
      },
      "id": "1a2b3c4d-0007-0000-0000-000000000007",
      "name": "Reply to Customer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1440,
        140
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_WAHA_HOST/api/sendText",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "X-Api-Key",
              "value": "REPLACE_WITH_WAHA_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"session\": \"default\",\n  \"chatId\": \"OWNER_WHATSAPP_NUMBER@c.us\",\n  \"text\": {{ JSON.stringify('🚗 New Booking — Detailing Colors\\n\\nName: ' + ($json.name || '-') + '\\nPhone: ' + ($json.phone || '-') + '\\nCar: ' + ($json.car_brand || '-') + ' ' + ($json.car_model || '') + '\\nService: ' + ($json.service || '-') + '\\nPreferred Time: ' + ($json.preferred_time || '-')) }}\n}",
        "options": {}
      },
      "id": "1a2b3c4d-0008-0000-0000-000000000008",
      "name": "Alert Owner",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1680,
        140
      ]
    }
  ],
  "connections": {
    "WhatsApp In": {
      "main": [
        [
          {
            "node": "Extract Booking (Claude)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Booking (Claude)": {
      "main": [
        [
          {
            "node": "Parse Claude JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude JSON": {
      "main": [
        [
          {
            "node": "Booking Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Booking Complete?": {
      "main": [
        [
          {
            "node": "Save to Sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply to Customer (Follow-up)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Sheet": {
      "main": [
        [
          {
            "node": "Reply to Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reply to Customer": {
      "main": [
        [
          {
            "node": "Alert Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "pinData": {},
  "tags": []
}